{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
        <div class="features">
            <h1>Про нас</h1>
            <p>Мы - энтузиасты, геймеры и разработчики, объединенные общей страстью.</p>
            <p>Наша миссия создать уникальную платформу, где каждый пользователь сможет найти идеальное сочетание развлечений и функциональности. Мы верим, что игры способны дарить незабываемые эмоции, а приложения делать нашу жизнь проще и эффективнее. Поэтому мы собрали лучшее из обоих миров под одной крышей, чтобы вы могли получать максимум от своего цифрового пространства. Мы постоянно работаем над расширением нашей библиотеки и улучшением платформы, чтобы ваше взаимодействие с ней было максимально комфортным и продуктивным.</p>
        </div>
{% endblock %}