{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <div class="features">
            <h1>{{ title }}</h1>
            <p>Шагните в будущее цифрового опыта с PlayVault! Мы создали пространство, где инновации встречаются с развлечениями, а продуктивность с творчеством. Исследуйте обширную коллекцию высококачественных игр, которые перенесут вас в новые миры, и откройте для себя мощные приложения, которые сделают вашу жизнь проще и интереснее. Ваше следующее цифровое открытие ждет вас здесь.</p>


            {% for el in values %}
                {% if el == 'Hello' %}
                    <p>{{el|upper}}</p>
                {% endif %}
            {% endfor %}

            {% for el in obj %}
                <p>{{el}}</p>
            {% endfor %}
        </div>
{% endblock %}

#филтр lower меняет на обычный шрифт
#а фильтр upper меняет на жырные буквы